<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>מבוא לפיתוח Web</title>
    <link rel="stylesheet" href="css/monokai.css">
    <link href='http://fonts.googleapis.com/css?family=Share+Tech+Mono' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "slides.css" %>
  </head>
  <body>

    <section style="text-align: center;">
        <!-- This is the first slide -->
        <h1 style="margin-top: 100px; margin-bottom: 50px;">פיתוח Web <small>מבוא</small></h1>
        <img src="img/browser_blank.png" style="max-width: 80%; margin: auto; box-shadow: 0 0 20px black;" />
        <div role="note">
          זה הדפדפן, הוא הכוכב שלנו.<br>
          יש אנשים שמפתחים ל-PC, יש אנשים שמפתחים ל-Mac. אנחנו מפתחות לדפדפן.<br>
          זה לא משנה מה מריץ את הדפדפן הזה, אנחנו מפתחות לו.<br>
          לפני שנתחיל לבנות דברים בעצמנו, ננסה לבסס קצת תשתית מושגית לדברים שנעשה היום. 
        </div>
    </section>

    <%#= partial 'slides/introduction' %>
    <%#= partial 'slides/web' %>

    <!-- client -->
    <%= partial 'slides/how_it_works' %>
    <%= partial 'slides/browser_server_cycle' %>
    <%= partial 'slides/html' %>
    <%= partial 'slides/css' %>

    <%#= partial 'slides/http' %>
    <%#= partial 'slides/partial_summary' %>

    <!-- server -->
    <%= partial 'slides/server' %>

    <!-- summary -->
    <%= partial 'slides/summary' %>


    <div id="progress-bar"></div>

    <%= javascript_include_tag 'highlight.pack.js' %>
    <%= javascript_include_tag 'slides.js' %>


  </body>
</html>