
<section class="light_bg">
  <%= partial 'slides/browser_and_server', locals: { labels: true } %>
  <%= partial 'slides/bsc_arrows' %>

  <div role="note">
    יש לנו לקוח ויש לנו שרת, והם מדברים ביניהם בפרוטוקול HTTP.
  </div>
</section>

<section class="light_bg">
  <%= partial 'slides/browser_and_server' %>
  <%= partial 'slides/bsc_arrows' %>

  <div class="number_1" style="display: inline-block; position: absolute; top: 250px; right: 340px;">בקשה</div>

  <img src="img/icon_document.png" style="position: absolute; top: 163px; right: 236px;">

  <div role="note">
  </div>
</section>

<section class="light_bg">
  <%= partial 'slides/browser_and_server' %>
  <%= partial 'slides/bsc_arrows' %>

  <div class="number_1" style="display: inline-block; position: absolute; top: 250px; right: 340px;">בקשה</div>

  <div style="position: absolute; top: 63px; left: 375px;">
    <img src="img/icon_document.png">
  </div>

  <div role="note">
  </div>
</section>

<section class="light_bg">
  <%= partial 'slides/browser_and_server' %>
  <%= partial 'slides/bsc_arrows' %>

  <div class="number_1" style="display: inline-block; position: absolute; top: 250px; right: 340px;">בקשה</div>

  <div style="position: absolute; top: 169px; left: 249px;">
    <img src="img/icon_document.png">
  </div>

  <div role="note">
  </div>
</section>

<section class="light_bg">
  <%= partial 'slides/browser_and_server' %>
  <%= partial 'slides/bsc_arrows' %>

  <div class="number_2" style="display: inline-block; position: absolute; top: 250px; right: 347px;">עיבוד</div>

  <div style="position: absolute; top: 140px; left: 180px;">
    <img src="img/icon_processing.png" style="width: 50px;">
  </div>
  <div style="position: absolute; top: 115px; left: 210px;">
    <img src="img/icon_processing.png" style="width: 25px;">
  </div>

  <div role="note">
  </div>
</section>

<section class="light_bg">
  <%= partial 'slides/browser_and_server' %>
  <%= partial 'slides/bsc_arrows' %>

  <div class="number_3" style="display: inline-block; position: absolute; top: 250px; right: 340px;">תגובה</div>

  <div style="position: absolute; top: 315px; right: 490px;">
    <img src="img/icon_document.png">
  </div>

  <div role="note">
  </div>
</section>

<section class="light_bg">
  <%= partial 'slides/browser_and_server' %>
  <%= partial 'slides/bsc_arrows' %>
  
  <img src="img/arrow_right.png" style="width: 200px; position: absolute; bottom: 220px; left: 295px;">
  <img src="img/arrow_left.png" style="width: 200px; position: absolute; top: 160px; left: 295px;">

  <div class="number_3" style="display: inline-block; position: absolute; top: 250px; right: 340px;">תגובה</div>

  <div style="position: absolute; top: 420px; left: 378px;">
    <img src="img/icon_document.png">
    <span style="position: absolute; left: 65px; top: 28px; white-space: nowrap; font-size: 16px; direction: ltr;">HTML, CSS,...</span>
  </div>

  <div role="note">
  </div>
</section>

<section class="light_bg">
  <%= partial 'slides/browser_and_server' %>
  <%= partial 'slides/bsc_arrows' %>

  <div class="number_3" style="display: inline-block; position: absolute; top: 250px; right: 340px;">תגובה</div>

  <div style="position: absolute; top: 305px; right: 250px;">
    <img src="img/icon_document.png">
  </div>

  <div role="note">
  </div>
</section>

<section class="light_bg">
  <%= partial 'slides/browser_and_server' %>
  <%= partial 'slides/bsc_arrows' %>

  <div style="position: absolute; top: 230px; left: 365px;">
    <img src="img/icon_rotate.png" style="width: 70px;">
  </div>

  <div role="note">
    בעמוד אחד הרבה בקשות
  </div>
</section>