

    <section>
      <h1>
        CSS
        <small>Design as code</small>
      </h1>
      <div role="note">
      </div>
    </section>

    <section>
      <pre style="margin-top: -50px;">
        <code class="xml" style="font-size: 60%;">
&lt;html&gt;
  &lt;head&gt;
    &lt;title&gt;I&apos;m The Title!&lt;/title&gt;
  &lt;/head&gt;   
  &lt;body&gt;       
    &lt;h1&gt;Hello!&lt;/h1&gt;          
    &lt;p&gt;Hello <%= audience %>!&lt;/p&gt;
    &lt;a href=&quot;http://...&quot;&gt;Our Website&lt;/a&gt;
    &lt;img src=&quot;cupcake.jpg&quot;&gt;
  &lt;/body&gt;
&lt;/html&gt;
        </code>
      </pre>
      <div class="code_sample" style="margin-top: -71px; background-image: url(img/browser_title.png);">
        <h1>Hello!</h1>
        <p>Hello <%= audience %>!</p>
        <a href="<%= website %>" style="position: relative; top: -10px;">Our Website</a>
        <br>
        <img src="img/cupcake.jpg" style="width: 120px;">
      </div>
      <div role="note">
      </div>
    </section>

    <section>
      <pre style="margin-top: -50px;">
        <code class="xml" style="font-size: 60%;">
&lt;html&gt;
  &lt;head&gt;
    &lt;title&gt;I&apos;m The Title!&lt;/title&gt;
  &lt;/head&gt;   
  &lt;body&gt;       
    &lt;h1&gt;Hello!&lt;/h1&gt;          
    &lt;p&gt;Hello <%= audience %>!&lt;/p&gt;
    &lt;a href=&quot;http://...&quot;&gt;Our Website&lt;/a&gt;
    &lt;img src=&quot;cupcake.jpg&quot;&gt;
  &lt;/body&gt;
&lt;/html&gt;
        </code>
      </pre>
      <div class="code_sample" style="margin-top: -71px; background-image: url(img/browser_title.png);">
        <div class="container" style="background: Khaki;">
          <h1>Hello!</h1>
          <p>Hello <%= audience %>!</p>
          <a href="<%= website %>" style="position: relative; top: -10px;">Our Website</a>
          <br>
          <img src="img/cupcake.jpg" style="width: 120px;">
        </div>
      </div>
      <pre style="position: absolute; top: -30px; right: 0; background: #222; height: 280px; padding-left: 20px;">
        <code class="css" style="font-size: 60%;">
body { 
  background-color: Yellow;
}
        </code>
      </pre>
      <div role="note">
      </div>
    </section>

    <section>
      <pre style="margin-top: -50px;">
        <code class="xml" style="font-size: 60%;">
&lt;html&gt;
  &lt;head&gt;
    &lt;title&gt;I&apos;m The Title!&lt;/title&gt;
  &lt;/head&gt;   
  &lt;body&gt;       
    &lt;h1&gt;Hello!&lt;/h1&gt;          
    &lt;p&gt;Hello <%= audience %>!&lt;/p&gt;
    &lt;a href=&quot;http://...&quot;&gt;Our Website&lt;/a&gt;
    &lt;img src=&quot;cupcake.jpg&quot;&gt;
  &lt;/body&gt;
&lt;/html&gt;
        </code>
      </pre>
      <pre style="position: absolute; top: -30px; right: 0; background: #222; height: 280px; padding-left: 20px;">
        <code class="css" style="font-size: 60%;">
body { 
  background-color: Yellow;
  font-size: 30px;
  color: MidnightBlue;
}
        </code>
      </pre>
      <div class="code_sample" style="margin-top: -71px; background-image: url(img/browser_title.png);">
        <div class="container" style="background: Khaki;">
          <h1 style="color: MidnightBlue; font-size: 32px;">Hello!</h1>
          <p style="color: MidnightBlue; font-size: 20px; margin-bottom: 10px;">Hello <%= audience %>!</p>
          <a href="<%= website %>" style="position: relative; top: -10px; font-size: 20px;">Our Website</a>
          <br>
          <img src="img/cupcake.jpg" style="width: 120px;">
        </div>
      </div>
      <div role="note">
      </div>
    </section>

    <section>
      <pre style="margin-top: -50px;">
        <code class="xml" style="font-size: 60%;">
&lt;html&gt;
  &lt;head&gt;
    &lt;title&gt;I&apos;m The Title!&lt;/title&gt;
  &lt;/head&gt;   
  &lt;body&gt;       
    &lt;h1&gt;Hello!&lt;/h1&gt;          
    &lt;p&gt;Hello <%= audience %>!&lt;/p&gt;
    &lt;a href=&quot;http://...&quot;&gt;Our Website&lt;/a&gt;
    &lt;img src=&quot;cupcake.jpg&quot;&gt;
  &lt;/body&gt;
&lt;/html&gt;
        </code>
      </pre>
      <pre style="position: absolute; top: -30px; right: 0; background: #222; height: 280px; padding-left: 20px;">
        <code class="css" style="font-size: 60%;">
body { 
  background-color: Yellow;
  font-size: 30px;
  color: MidnightBlue;
}
a { color: FireBrick; }
img {
  border: 2px solid black;
}
        </code>
      </pre>
      <div class="code_sample" style="margin-top: -71px; background-image: url(img/browser_title.png);">
        <div class="container" style="background: Khaki;">
          <h1 style="color: MidnightBlue; font-size: 32px;">Hello!</h1>
          <p style="color: MidnightBlue; font-size: 20px; margin-bottom: 10px;">Hello <%= audience %>!</p>
          <a href="<%= website %>" style="position: relative; top: -10px; font-size: 20px; color: FireBrick;">Our Website</a>
          <br>
          <img src="img/cupcake.jpg" style="width: 120px; border: 2px solid black;">
        </div>
      </div>
      <div role="note">
      </div>
    </section>
