
<section>
  <pre>
    <code class="xml">
&lt;p&gt;Hello <%= audience %>!&lt;/p&gt;
    </code>
  </pre>
  <div class="code_sample" style="margin-top: 35px;">
    <p>Hello <%= audience %>!</p>
  </div>
  <div role="note">
    זה הקוד<br>
    <span class="note_pause">להמתין 3 שניות</span><br>
    וככה זה נראה בדפדפן<br>
    מסומן בוורוד = תגית<br>
    תגית פתיחה ותגית סיום, סלאש<br>
    p - paragraph - פיסקה
  </div>
</section>

<section>
  <pre>
    <code class="xml">
&lt;h1&gt;Hello!&lt;/h1&gt;
&lt;p&gt;Hello <%= audience %>!&lt;/p&gt;
    </code>
  </pre>
  <div class="code_sample">
    <h1>Hello!</h1>
    <p>Hello <%= audience %>!</p>
  </div>
  <img src="img/code_sample_2.png" style="max-width: 80%; margin: auto; box-shadow: 0 0 20px black; display: block;" />
  <div role="note">
    h1 זאת תגית כותרת.
    <p class="note_pause">לחכות 3 שניות</p>
  </div>
</section>

<section>
  <pre>
    <code class="xml" style="font-size: 80%;">
&lt;h1&gt;Hello!&lt;/h1&gt;
&lt;p&gt;Hello <%= audience %>!&lt;/p&gt;
&lt;a href=&quot;<%= website %>&quot;&gt;Our Website&lt;/a&gt;
    </code>
  </pre>
  <div class="code_sample" style="margin-top: 6px">
    <h1>Hello!</h1>
    <p>Hello <%= audience %>!</p>
    <a href="<%= website %>" style="position: relative; top: -10px;">Our Website</a>
  </div>
  <div role="note">
    a זה לינק.<br>
    <span class="note_pause">להמתין טיפה</span><br>
    תגית יותר מורכבת<br>
    כתובת, טקסט<br>
    attribute / מאפיין<br>
    <span class="note_pause">לחכות 5 שניות</span>
  </div>
</section>

<section>
  <pre>
    <code class="xml" style="font-size: 80%;">
&lt;h1&gt;Hello!&lt;/h1&gt;
&lt;p&gt;Hello <%= audience %>!&lt;/p&gt;
&lt;a href=&quot;<%= website %>&quot;&gt;Our Website&lt;/a&gt;
&lt;img src=&quot;cupcake.jpg&quot;&gt;
    </code>
  </pre>
  <div class="code_sample" style="margin-top: -22px">
    <h1>Hello!</h1>
    <p>Hello <%= audience %>!</p>
    <a href="<%= website %>" style="position: relative; top: -10px;">Our Website</a>
    <br>
    <img src="img/cupcake.jpg" style="width: 120px;">
  </div>
  <div role="note">
    אז בואו נוסיף גם תמונה.<br>
    I-M-G, קיצור של image<br>
    attribute / מאפיין<br>
    אין תגית סיום<br>
    <span class="note_pause">להמתין 3 שניות</span>
  </div>
</section>

<section>
  <pre style="margin-top: -50px;">
    <code class="xml" style="font-size: 60%;">
&lt;html&gt;
  &lt;head&gt;
    &lt;title&gt;I&apos;m The Title!&lt;/title&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;h1&gt;Hello!&lt;/h1&gt;
    &lt;p&gt;Hello <%= audience %>!&lt;/p&gt;
    &lt;a href=&quot;<%= website %>&quot;&gt;Our Website&lt;/a&gt;
    &lt;img src=&quot;cupcake.jpg&quot;&gt;
  &lt;/body&gt;
&lt;/html&gt;
    </code>
  </pre>
  <div class="code_sample" style="margin-top: -71px; background-image: url(img/browser_title.png);">
    <h1>Hello!</h1>
    <p>Hello <%= audience %>!</p>
    <a href="<%= website %>" style="position: relative; top: -10px;">Our Website</a>
    <br>
    <img src="img/cupcake.jpg" style="width: 120px;">
  </div>
  <div role="note">
    <p class="note_pause">להמתין 2 שניות ולעבור הלאה</p>
  </div>
</section>

<section>
  <figure>
      <img src="img/escalated.jpg" style="width: auto; height: auto; position: relative; top: 50%; margin-top: -152px; right: 50%; margin-right: -300px;" />
  </figure>
  <div role="note">
    <p class="note_pause">&nbsp;&nbsp;מצחיק מאוד :-) &nbsp;&nbsp;</p>
  </div>
</section>

<section>
  <pre style="margin-top: -50px;">
    <code class="xml" style="font-size: 60%;">
&lt;html&gt;
  &lt;head&gt;
    &lt;title&gt;I&apos;m The Title!&lt;/title&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;h1&gt;Hello!&lt;/h1&gt;
    &lt;p&gt;Hello <%= audience %>!&lt;/p&gt;
    &lt;a href=&quot;<%= website %>&quot;&gt;Our Website&lt;/a&gt;
    &lt;img src=&quot;cupcake.jpg&quot;&gt;
  &lt;/body&gt;
&lt;/html&gt;
    </code>
  </pre>
  <div class="code_sample" style="margin-top: -71px; background-image: url(img/browser_title.png);">
    <h1>Hello!</h1>
    <p>Hello <%= audience %>!</p>
    <a href="<%= website %>" style="position: relative; top: -10px;">Our Website</a>
    <br>
    <img src="img/cupcake.jpg" style="width: 120px;">
  </div>
  <div role="note">
    <span class="note_pause">לאאאאאט</span> ויש עוד כמה עניינים פורמלים.<br>
    תגית HTML<br>
    מסמך מחולק ל-head, body<br>
    קינון תגיות<br>
  </div>
</section>
