
<section class="light_bg">
  <%= partial 'slides/browser_and_server', locals: { labels: true } %>
  <%= partial 'slides/bsc_arrows' %>

  <div class="number_2" style="display: inline-block; position: absolute; top: 250px; right: 347px;">עיבוד</div>

  <div style="position: absolute; top: 140px; left: 180px;">
    <img src="img/icon_processing.png" style="width: 50px;">
  </div>
  <div style="position: absolute; top: 115px; left: 210px;">
    <img src="img/icon_processing.png" style="width: 25px;">
  </div>

  <div role="note">
    
  </div>
</section>
<section class="light_bg">
  <%= partial 'slides/browser_and_server', locals: { labels: true } %>
  <%= partial 'slides/bsc_arrows' %>

  <div class="number_2" style="display: inline-block; position: absolute; top: 250px; right: 347px;">עיבוד</div>

  <div style="position: absolute; top: 140px; left: 180px;">
    <img src="img/icon_processing.png" style="width: 50px;">
  </div>
  <div style="position: absolute; top: 115px; left: 210px;">
    <img src="img/icon_processing.png" style="width: 25px;">
  </div>
  <div style="position: absolute; top: 30px; left: 150px;">
    <img src="img/icon_data.png" style="width: 60px;">
  </div>
  <div class="line1"></div>

  <div role="note">
  </div>
</section>
<section class="light_bg">
  <%= partial 'slides/browser_and_server', locals: { labels: true } %>
  <%= partial 'slides/bsc_arrows' %>

  <div class="number_2" style="display: inline-block; position: absolute; top: 250px; right: 347px;">עיבוד</div>

  <div style="position: absolute; top: 140px; left: 180px;">
    <img src="img/icon_processing.png" style="width: 50px;">
  </div>
  <div style="position: absolute; top: 115px; left: 210px;">
    <img src="img/icon_processing.png" style="width: 25px;">
  </div>
  <div style="position: absolute; top: 30px; left: 150px;">
    <img src="img/icon_data.png" style="width: 60px;">
  </div>
  <div style="position: absolute; top: 115px; left: 80px;">
    <img src="img/icon_rails.png" style="width: 45px;">
  </div>
  <div class="line1"></div>
  <div class="line2"></div>

  <div role="note">
  </div>
</section>

<section class="blue">
  <table class="table" style="margin: 50px auto 0 auto;">
    <thead>
      <th>מספר</th>
      <th>שם</th>
      <th>סוג</th>
      <th>מין</th>
      <th>צבע פרווה</th>
      <th>תאריך לידה</th>
      <th>חמוד?</th>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>לוסי</td>
        <td>לברדור</td>
        <td>נקבה</td>
        <td>בלונד</td>
        <td>12.7.2011</td>
        <td>כן</td>
      </tr>
      <tr>
        <td>2</td>
        <td>מוטי</td>
        <td>באסט האונד</td>
        <td>זכר</td>
        <td>שחור</td>
        <td>14.2.2010</td>
        <td>כן</td>
      </tr>
      <tr>
        <td>3</td>
        <td>פירוס</td>
        <td>לברדור</td>
        <td>זכר</td>
        <td>לבן</td>
        <td>5.10.2003</td>
        <td>כן</td>
      </tr>
      <tr>
        <td>4</td>
        <td>יאנה</td>
        <td>זאב</td>
        <td>נקבה</td>
        <td>חום-שחור</td>
        <td>15.1.2012</td>
        <td>כן</td>
      </tr>
      <tr>
        <td>5</td>
        <td>בל</td>
        <td>האסקי</td>
        <td>נקבה</td>
        <td>אפור-לבן</td>
        <td>22.11.2008</td>
        <td>כן</td>
      </tr>
      <tr>
        <td>6</td>
        <td>ששון</td>
        <td>באסט האונד</td>
        <td>זכר</td>
        <td>שחור-חום</td>
        <td>12.10.2005</td>
        <td>כן</td>
      </tr>
      <tr>
        <td>7</td>
        <td>לירון</td>
        <td>מעורבת</td>
        <td>נקבה</td>
        <td>שמנת</td>
        <td>2.4.2013</td>
        <td>כן</td>
      </tr>
      <tr>
        <td>8</td>
        <td>דובה</td>
        <td>גולדן-לברדור</td>
        <td>נקבה</td>
        <td>לבן</td>
        <td>2.12.2012</td>
        <td>כן</td>
      </tr>
      <tr>
        <td>9</td>
        <td>פו</td>
        <td>קטן-קטן</td>
        <td>נקבה</td>
        <td>לבן-כתום</td>
        <td>28.9.2009</td>
        <td>כן</td>
      </tr>
      <tr>
        <td>10</td>
        <td>שושה</td>
        <td>אמסטף</td>
        <td>נקבה</td>
        <td>שחור</td>
        <td>21.5.2013</td>
        <td>כן</td>
      </tr>
    </tbody>
  </table>
  <div role="note">

  </div>
</section>

<section>
  <pre style="margin-top: 0px; margin-left: -10px;">
    <code class="ruby" style="font-size: 80%;">
      @dogs = Dog.all
    </code>
  </pre>
  <div role="note">
  </div>
</section>

<section>
  <pre style="margin-top: 0px; margin-left: -10px;">
    <code class="ruby" style="font-size: 80%;">
      @dog  = Dog.find(1)
    </code>
  </pre>
  <div role="note">
  </div>
</section>

<section>
  <pre style="margin-top: 0px; margin-left: -10px;">
    <code class="ruby" style="font-size: 80%;">
      @dogs = Dog.where(gender: :female)
    </code>
  </pre>
  <div role="note">
  </div>
</section>

<section>
  <pre style="margin-top: 0px; margin-left: -10px;">
    <code class="ruby" style="font-size: 80%;">
      @dogs = Dog.where(gender: :female)
                 .order('born_at ASC')
    </code>
  </pre>
  <div role="note">
  </div>
</section>

<section>
  <pre style="margin-top: -30px; margin-left: 100px;">
    <code class="erb" style="font-size: 60%;">
      &lt;table&gt;
      &lt;/table&gt;
    </code>
  </pre>
  <div role="note">
  </div>
</section>

<section>
  <pre style="margin-top: -30px; margin-left: 100px;">
    <code class="erb" style="font-size: 60%;">
      &lt;table&gt;
        &lt;thead&gt;
        &lt;/thead&gt;

        &lt;tbody&gt;
        &lt;/tbody&gt;
      &lt;/table&gt;
    </code>
  </pre>
  <div role="note">
  </div>
</section>

<section>
  <pre style="margin-top: -30px; margin-left: 100px;">
    <code class="erb" style="font-size: 60%;">
      &lt;table&gt;
        &lt;thead&gt;
          &lt;tr&gt;
            &lt;th&gt;Name&lt;/th&gt;
            &lt;th&gt;Breed&lt;/th&gt;
            &lt;th&gt;Gender&lt;/th&gt;
            &lt;th&gt;Fur color&lt;/th&gt;
          &lt;/tr&gt;
        &lt;/thead&gt;

        &lt;tbody&gt;
        &lt;/tbody&gt;
      &lt;/table&gt;
    </code>
  </pre>
  <div role="note">
  </div>
</section>

<section>
  <pre style="margin-top: -30px; margin-left: 100px;">
    <code class="erb" style="font-size: 60%;">
      &lt;table&gt;
        &lt;thead&gt;
          &lt;tr&gt;
            &lt;th&gt;Name&lt;/th&gt;
            &lt;th&gt;Breed&lt;/th&gt;
            &lt;th&gt;Gender&lt;/th&gt;
            &lt;th&gt;Fur color&lt;/th&gt;
          &lt;/tr&gt;
        &lt;/thead&gt;

        &lt;tbody&gt;
          &lt;% @dogs.each do |dog| %&gt;
          
          &lt;% end %&gt;
        &lt;/tbody&gt;
      &lt;/table&gt;
    </code>
  </pre>
  <div role="note">
  </div>
</section>

<section>
  <pre style="margin-top: -30px; margin-left: 100px;">
    <code class="erb" style="font-size: 60%;">
      &lt;table&gt;
        &lt;thead&gt;
          &lt;tr&gt;
            &lt;th&gt;Name&lt;/th&gt;
            &lt;th&gt;Breed&lt;/th&gt;
            &lt;th&gt;Gender&lt;/th&gt;
            &lt;th&gt;Fur color&lt;/th&gt;
          &lt;/tr&gt;
        &lt;/thead&gt;

        &lt;tbody&gt;
          &lt;% @dogs.each do |dog| %&gt;
            &lt;tr&gt;
              &lt;td&gt;&lt;%= dog.name %&gt;&lt;/td&gt;
              &lt;td&gt;&lt;%= dog.breed %&gt;&lt;/td&gt;
              &lt;td&gt;&lt;%= dog.gender %&gt;&lt;/td&gt;
              &lt;td&gt;&lt;%= dog.fur_color %&gt;&lt;/td&gt;
            &lt;/tr&gt;
          &lt;% end %&gt;
        &lt;/tbody&gt;
      &lt;/table&gt;
    </code>
  </pre>
  <div role="note">
  </div>
</section>

<section>
  <pre style="margin-top: -30px; margin-left: 100px;">
    <code class="erb" style="font-size: 60%;">
      &lt;table&gt;
        &lt;thead&gt;
          &lt;tr&gt;
            &lt;th&gt;Name&lt;/th&gt;
            &lt;th&gt;Breed&lt;/th&gt;
            &lt;th&gt;Gender&lt;/th&gt;
            &lt;th&gt;Fur color&lt;/th&gt;
          &lt;/tr&gt;
        &lt;/thead&gt;

        &lt;tbody&gt;
          &lt;tr&gt;
            &lt;td&gt;Lucy&lt;/td&gt;
            &lt;td&gt;Labrador&lt;/td&gt;
            &lt;td&gt;Female&lt;/td&gt;
            &lt;td&gt;Blond&lt;/td&gt;
          &lt;/tr&gt;
          &lt;tr&gt;
            &lt;td&gt;Yana&lt;/td&gt;
            &lt;td&gt;Pitbull&lt;/td&gt;
            &lt;td&gt;Female&lt;/td&gt;
            &lt;td&gt;Black&lt;/td&gt;
          &lt;/tr&gt;
          &lt;tr&gt;
            &lt;td&gt;Belle&lt;/td&gt;
            &lt;td&gt;Husky&lt;/td&gt;
            &lt;td&gt;Female&lt;/td&gt;
            &lt;td&gt;White&lt;/td&gt;
          &lt;/tr&gt;
        &lt;/tbody&gt;
      &lt;/table&gt;
    </code>
  </pre>
  <div role="note">
  </div>
</section>

<section>
  <pre style="margin-top: -30px; margin-left: 100px;">
    <code class="erb" style="font-size: 60%;">
      &lt;table&gt;
        &lt;thead&gt;
          &lt;tr&gt;
            &lt;th&gt;Name&lt;/th&gt;
            &lt;th&gt;Breed&lt;/th&gt;
            &lt;th&gt;Gender&lt;/th&gt;
            &lt;th&gt;Fur color&lt;/th&gt;
          &lt;/tr&gt;
        &lt;/thead&gt;

        &lt;tbody&gt;
          &lt;tr&gt;
            &lt;td&gt;Lucy&lt;/td&gt;
            &lt;td&gt;Labrador&lt;/td&gt;
            &lt;td&gt;Female&lt;/td&gt;
            &lt;td&gt;Blond&lt;/td&gt;
          &lt;/tr&gt;
          &lt;tr&gt;
            &lt;td&gt;Yana&lt;/td&gt;
            &lt;td&gt;Pitbull&lt;/td&gt;
            &lt;td&gt;Female&lt;/td&gt;
            &lt;td&gt;Black&lt;/td&gt;
          &lt;/tr&gt;
          &lt;tr&gt;
            &lt;td&gt;Belle&lt;/td&gt;
            &lt;td&gt;Husky&lt;/td&gt;
            &lt;td&gt;Female&lt;/td&gt;
            &lt;td&gt;White&lt;/td&gt;
          &lt;/tr&gt;
        &lt;/tbody&gt;
      &lt;/table&gt;
    </code>
    <img src="img/dogs_in_browser.png" style="position: absolute; top: 100px; max-width: 80%; margin: auto; margin-top: -71px; box-shadow: 0 0 20px black; display: block;" />
  </pre>
  <div role="note">
  </div>
</section>