<section class="light_bg">
  <%= partial 'slides/browser_and_server', locals: { labels: true } %>
  <%= partial 'slides/bsc_arrows' %>

  <div class="number_2" style="display: inline-block; position: absolute; top: 250px; right: 324px;">processing</div>

  <div style="position: absolute; top: 140px; left: 180px;">
    <img src="img/icon_processing.png" style="width: 50px;">
  </div>
  <div style="position: absolute; top: 115px; left: 210px;">
    <img src="img/icon_processing.png" style="width: 25px;">
  </div>

  <div role="note"></div>
</section>
<section class="light_bg">
  <%= partial 'slides/browser_and_server', locals: { labels: true } %>
  <%= partial 'slides/bsc_arrows' %>

  <div class="number_2" style="display: inline-block; position: absolute; top: 250px; right: 324px;">processing</div>

  <div style="position: absolute; top: 140px; left: 180px;">
    <img src="img/icon_processing.png" style="width: 50px;">
  </div>
  <div style="position: absolute; top: 115px; left: 210px;">
    <img src="img/icon_processing.png" style="width: 25px;">
  </div>
  <div style="position: absolute; top: 30px; left: 150px;">
    <img src="img/icon_data.png" style="width: 60px;">
  </div>
  <div class="line1"></div>

  <div role="note"></div>
</section>
<section class="light_bg">
  <%= partial 'slides/browser_and_server', locals: { labels: true } %>
  <%= partial 'slides/bsc_arrows' %>

  <div class="number_2" style="display: inline-block; position: absolute; top: 250px; right: 324px;">processing</div>

  <div style="position: absolute; top: 140px; left: 180px;">
    <img src="img/icon_processing.png" style="width: 50px;">
  </div>
  <div style="position: absolute; top: 115px; left: 210px;">
    <img src="img/icon_processing.png" style="width: 25px;">
  </div>
  <div style="position: absolute; top: 30px; left: 150px;">
    <img src="img/icon_data.png" style="width: 60px;">
  </div>
  <div style="position: absolute; top: 115px; left: 80px;">
    <img src="img/icon_rails.png" style="width: 45px;">
  </div>
  <div class="line1"></div>
  <div class="line2"></div>

  <div role="note"></div>
</section>

<section class="blue">
  <table class="table" style="margin: 50px auto 0 auto; direction: ltr;">
    <thead>
      <th>id</th>
      <th>name</th>
      <th>type</th>
      <th>birth date</th>
      <th>fur color</th>
      <th>gender</th>
      <th>cute?</th>

    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Kimel</td>
        <td>German Pinscher</td>
        <td>10/10/2010</td>
        <td>black</td>
        <td>male</td>
        <td>yes</td>

      </tr>
      <tr>
          <td>2</td>
          <td>Alex</td>
          <td>Canaan Dog</td>

        <td>01/12/2014</td>
        <td>brown</td>
        <td>male</td>
          <td>yes</td>


      </tr>
      <tr>
        <td>3</td>
        <td>Bianca</td>
        <td>Maltese</td>

        <td>01/03/2012</td>
        <td>white</td>
        <td>female</td>
          <td>yes</td>


      </tr>
      <tr>
        <td>4</td>
          <td>Booly</td>
          <td>Lancashire Heeler</td>

        <td>01/10/2013</td>
        <td>black</td>
        <td>male</td>

          <td>yes</td>

      </tr>
      <tr>
        <td>5</td>
        <td>Lisa</td>
          <td>Samoyed</td>

        <td>10/05/2012</td>
        <td>white</td>
        <td>female</td>
      <td>yes</td>


      </tr>
      <tr>
        <td>6</td>
          <td>Panda</td>
          <td>Beagle</td>


        <td>01/05/2041</td>
        <td>black</td>
        <td>male</td>
          <td>yes</td>

      </tr>
      <tr>
          <td>7</td>
          <td>Aliza</td>
          <td>Boxer</td>

        <td>01/02/2010</td>
        <td>brown</td>
        <td>female</td>
        <td>yes</td>

      </tr>
      <tr>
          <td>8</td>
          <td>Smarty</td>
            <td>Pekingese</td>

        <td>01/05/2011</td>
        <td>brown</td>
        <td>female</td>
        <td>yes</td>


      </tr>
      <tr>
            <td>9</td>
              <td>Shooshan</td>
                <td>Dogue de Bordeaux</td>

        <td>01/05/2014</td>
        <td>brown</td>
        <td>male</td>
          <td>yes</td>


      </tr>
      <tr>
        <td>10</td>
          <td>Hans</td>
            <td>Swedish Vallhund</td>

        <td>01/01/2011</td>
        <td>black</td>
        <td>male</td>
        <td>yes</td>


      </tr>
    </tbody>
  </table>
  <div role="note"></div>
</section>

<section>
  <pre style="margin-top: 0px; margin-left: -10px;">
    <code class="ruby" style="font-size: 80%;">
      @dogs = Dog.all
    </code>
  </pre>
  <div role="note"></div>
</section>

<section>
  <pre style="margin-top: 0px; margin-left: -10px;">
    <code class="ruby" style="font-size: 80%;">
      @dog  = Dog.find(1)
    </code>
  </pre>
  <div role="note"></div>
</section>

<section>
  <pre style="margin-top: 0px; margin-left: -10px;">
    <code class="ruby" style="font-size: 80%;">
      @dogs = Dog.where(gender: :female)
    </code>
  </pre>
  <div role="note"></div>
</section>

<section>
  <pre style="margin-top: 0px; margin-left: -10px;">
    <code class="ruby" style="font-size: 80%;">
      @dogs = Dog.where(gender: :female)
                 .order('born_at ASC')
    </code>
  </pre>
  <div role="note"></div>
</section>

<section>
  <pre style="margin-top: -30px; margin-left: 100px;">
    <code class="erb" style="font-size: 50%;">
      &lt;table&gt;
      &lt;/table&gt;
    </code>
  </pre>
  <div role="note"></div>
</section>

<section>
  <pre style="margin-top: -30px; margin-left: 100px;">
    <code class="erb" style="font-size: 50%;">
      &lt;table&gt;
        &lt;thead&gt;
        &lt;/thead&gt;

        &lt;tbody&gt;
        &lt;/tbody&gt;
      &lt;/table&gt;
    </code>
  </pre>
  <div role="note"></div>
</section>

<section>
  <pre style="margin-top: -30px; margin-left: 100px;">
    <code class="erb" style="font-size: 50%;">
      &lt;table&gt;
        &lt;thead&gt;
          &lt;tr&gt;
            &lt;th&gt;Name&lt;/th&gt;
            &lt;th&gt;Breed&lt;/th&gt;
            &lt;th&gt;Gender&lt;/th&gt;
            &lt;th&gt;Fur color&lt;/th&gt;
          &lt;/tr&gt;
        &lt;/thead&gt;

        &lt;tbody&gt;
        &lt;/tbody&gt;
      &lt;/table&gt;
    </code>
  </pre>
  <div role="note"></div>
</section>

<section>
  <pre style="margin-top: -30px; margin-left: 100px;">
    <code class="erb" style="font-size: 50%;">
      &lt;table&gt;
        &lt;thead&gt;
          &lt;tr&gt;
            &lt;th&gt;Name&lt;/th&gt;
            &lt;th&gt;Breed&lt;/th&gt;
            &lt;th&gt;Gender&lt;/th&gt;
            &lt;th&gt;Fur color&lt;/th&gt;
          &lt;/tr&gt;
        &lt;/thead&gt;

        &lt;tbody&gt;
          &lt;% @dogs.each do |dog| %&gt;

          &lt;% end %&gt;
        &lt;/tbody&gt;
      &lt;/table&gt;
    </code>
  </pre>
  <div role="note"></div>
</section>

<section>
  <pre style="margin-top: -30px; margin-left: 100px;">
    <code class="erb" style="font-size: 50%;">
      &lt;table&gt;
        &lt;thead&gt;
          &lt;tr&gt;
            &lt;th&gt;Name&lt;/th&gt;
            &lt;th&gt;Breed&lt;/th&gt;
            &lt;th&gt;Gender&lt;/th&gt;
            &lt;th&gt;Fur color&lt;/th&gt;
          &lt;/tr&gt;
        &lt;/thead&gt;

        &lt;tbody&gt;
          &lt;% @dogs.each do |dog| %&gt;
            &lt;tr&gt;
              &lt;td&gt;&lt;%= dog.name %&gt;&lt;/td&gt;
              &lt;td&gt;&lt;%= dog.breed %&gt;&lt;/td&gt;
              &lt;td&gt;&lt;%= dog.gender %&gt;&lt;/td&gt;
              &lt;td&gt;&lt;%= dog.fur_color %&gt;&lt;/td&gt;
            &lt;/tr&gt;
          &lt;% end %&gt;
        &lt;/tbody&gt;
      &lt;/table&gt;
    </code>
  </pre>
  <div role="note"></div>
</section>

<section>
  <pre style="margin-top: -30px; margin-left: 100px;">
    <code class="erb" style="font-size: 50%;">
      &lt;table&gt;
        &lt;thead&gt;
          &lt;tr&gt;
            &lt;th&gt;Name&lt;/th&gt;
            &lt;th&gt;Breed&lt;/th&gt;
            &lt;th&gt;Gender&lt;/th&gt;
            &lt;th&gt;Fur color&lt;/th&gt;
          &lt;/tr&gt;
        &lt;/thead&gt;

        &lt;tbody&gt;
          &lt;tr&gt;
            &lt;td&gt;Bianca&lt;/td&gt;
            &lt;td&gt;Maltese&lt;/td&gt;
            &lt;td&gt;Female&lt;/td&gt;
            &lt;td&gt;White&lt;/td&gt;
          &lt;/tr&gt;
          &lt;tr&gt;
            &lt;td&gt;Lisa&lt;/td&gt;
            &lt;td&gt;Samoyed&lt;/td&gt;
            &lt;td&gt;Female&lt;/td&gt;
            &lt;td&gt;White&lt;/td&gt;
          &lt;/tr&gt;
          &lt;tr&gt;
            &lt;td&gt;Aliza&lt;/td&gt;
            &lt;td&gt;Boxer&lt;/td&gt;
            &lt;td&gt;Female&lt;/td&gt;
            &lt;td&gt;Brown&lt;/td&gt;
          &lt;/tr&gt;
        &lt;/tbody&gt;
      &lt;/table&gt;
    </code>
  </pre>
  <div role="note"></div>
</section>

<section>
  <pre style="margin-top: -30px; margin-left: 100px;">
    <code class="erb" style="font-size: 50%;">
      &lt;table&gt;
        &lt;thead&gt;
          &lt;tr&gt;
            &lt;th&gt;Name&lt;/th&gt;
            &lt;th&gt;Breed&lt;/th&gt;
            &lt;th&gt;Gender&lt;/th&gt;
            &lt;th&gt;Fur color&lt;/th&gt;
          &lt;/tr&gt;
        &lt;/thead&gt;

        &lt;tbody&gt;
          &lt;tr&gt;
            &lt;td&gt;Bianca&lt;/td&gt;
            &lt;td&gt;Maltese&lt;/td&gt;
            &lt;td&gt;Female&lt;/td&gt;
            &lt;td&gt;White&lt;/td&gt;
          &lt;/tr&gt;
          &lt;tr&gt;
            &lt;td&gt;Lisa&lt;/td&gt;
            &lt;td&gt;Samoyed&lt;/td&gt;
            &lt;td&gt;Female&lt;/td&gt;
            &lt;td&gt;White&lt;/td&gt;
          &lt;/tr&gt;
          &lt;tr&gt;
            &lt;td&gt;Aliza&lt;/td&gt;
            &lt;td&gt;Boxer&lt;/td&gt;
            &lt;td&gt;Female&lt;/td&gt;
            &lt;td&gt;Brown&lt;/td&gt;
          &lt;/tr&gt;
        &lt;/tbody&gt;
      &lt;/table&gt;
    </code>
    <!-- <img src="img/dogs_in_browser.png" style="position: absolute; top: 100px; max-width: 80%; margin: auto; margin-top: -71px; box-shadow: 0 0 20px black; display: block;" /> -->
    <div class="code_sample" style="position: absolute; top: 100px; right: 10px; max-width: 80%; margin: auto; margin-top: -71px; box-shadow: 0 0 20px black; display: block; font-size: 15px; background-image: url(img/browser_title.png); background-size: cover;">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Breed</th>
            <th>Gender</th>
            <th>Fur color</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Bianca</td>
            <td>Maltese</td>
            <td>Female</td>
            <td>White</td>
          </tr>
          <tr>
            <td>Lisa</td>
            <td>Samoyed</td>
            <td>Female</td>
            <td>White</td>
          </tr>
          <tr>
            <td>Aliza</td>
            <td>Boxer</td>
            <td>Female</td>
            <td>Brown</td>
          </tr>
        </tbody>
      </table>
    </div>
  </pre>
  <div role="note"></div>
</section>
