
<section style="text-align: center;">
    <!-- This is the first slide -->
    <h1 style="margin-top: 100px; margin-bottom: 50px;">HTML ו-CSS <small>מבוא</small></h1>
    <img src="img/browser_blank.png" style="max-width: 80%; margin: auto; box-shadow: 0 0 20px black;" />
    <div role="note">
    </div>
</section>

<section style="text-align: center;">
    <div style="text-align: right; font-size: 80%; padding: 100px;">
      רותם הראל<br>
      מפתחת Web<br>
      ממארגנות Rails Girls בתל אביב<br>
      <a href="http://rotemharel.com" style="color: #66D9EF;">rotemharel.com</a><br>
      <a href="http://twitter.com/rotev" style="color: #66D9EF; direction: ltr; text-decoration: none; display: inline-block;">@rotev</a>
    </div>
    <div role="note">
    </div>
</section>

<!-- client -->
<%= partial 'slides/how_it_works' %>
<%= partial 'slides/browser_server_cycle' %>
<%= partial 'slides/html', locals: { table: false, audience: "Women who Code Tel-Aviv", website: "http://wwc.co.il" } %>
<%= partial 'slides/css', locals: { audience: "Women who Code Tel-Aviv", website: "http://wwc.co.il" } %>
<%= partial 'slides/layout' %>
<%= partial 'slides/summary_html_css' %>
<%= partial 'slides/the_end' %>